*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Baskervville', serif;
  color: linen;
  background-color: rgb(131, 166, 151);
}

#welcome-section{
  color: black;
  background-color: rgb(187, 210, 225);
  text-align: center;
  font: italic small-caps bold 50px cursive;
  padding: 250px 0 0 0;
  height: 100vh;
}

#name{
  color: black;
  font-size: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  min-height: 40px;
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(245, 245, 220);
}
nav > ul {
  width: 40vw;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
}

code{
  font-style: italic;
}
.section-link {
  float: left;
  display: block;
  color: black;
  text-align: left;
  font-size: 10pt;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar #navbar .section-link:hover {
  background: #ddd;
  color: black;
}
section article{
  margin: 0 40px ;
}
h2{
  padding: 280px 0 15px 20px;
  bottom: 0px;
  color: black;
  font: small-caps bold 24px/1  sans-serif;
}
#ok{
  text-align: center;
  color: green;
  font-size: 50px;
}
#statut{
  color: rgb(252, 93, 93);
  padding-top:45vh; 
}
p{
  color: white;
  font-size: 15pt;
  text-justify: auto;
}
a{
  font-size: 13pt;
  text-decoration: none;
  color: yellow
}
li {
  margin: 5px 0 0 0px;
  padding: 0;
  list-style-type: circle;
}
a:hover{
  background: #ddd;
  color: black;
}
#contact ul{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
fieldset{
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}
footer{
  text-align: center;
  padding: 50px 0 20px 0;
}
@media screen and (max-width: 540px){
  nav > ul {
  width: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
    #welcome-section{
  font: italic small-caps bold 23px cursive;
  padding: 500px 0 0 0;  
  }
  #ok{
    font-size: 15px
  }
  #statut{
  padding-top:14vh; 
  }
}
